Repository toradex/toradex-torizon-manifest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-sync-default, test-sync-integration, test-sync-next

.gitlab-ci.yml:

image: agners/torizon-builder:ubuntu-18.04

variables:
  MACHINE: "colibri-imx7"
  GIT_STRATEGY: none

before_script:
  - git config --global user.name "Gitlab CI"
  - git config --global user.email "gitlab@toradex.com"

.test-sync:
  stage: test
  script:
    - repo init -u $CI_REPOSITORY_URL -b $CI_COMMIT_REF_NAME -m $MANIFEST_FILE --no-clone-bundle
    - repo sync --no-clone-bundle
    - repo info
    - source setup-environment
    - bitbake --parse-only

test-sync-default:
  extends: .test-sync
  only:
    changes:
      - default.xml
      - setup-environment
      - setup-environment-internal
      - conf/*
  variables:
    MANIFEST_FILE: 'default.xml'

test-sync-integration:
  extends: .test-sync
  only:
    changes:
      - integration.xml
      - setup-environment
      - setup-environment-internal
      - conf/*
  variables:
    MANIFEST_FILE: 'integration.xml'

test-sync-next:
  extends: .test-sync
  only:
    changes:
      - next.xml
      - setup-environment
      - setup-environment-internal
      - conf/*
  variables:
    MANIFEST_FILE: 'next.xml'

default.xml: freeze git hashes for monthly release
  default.xml
Due: test-sync-default

default.xml: bump meta-toradex-torizon too
  default.xml
Due: test-sync-default

default.xml: bump hashes for the June monthly release
  default.xml
  integration.xml
Due: test-sync-default, test-sync-integration

default.xml/integration.xml: update meta-freescale layer heads to latest zeus
  default.xml
  integration.xml
Due: test-sync-default, test-sync-integration

integration.xml: bump TorizonCore specific external layers
  integration.xml
Due: test-sync-integration

integration.xml: update meta-lmp layer heads to latest zeus
  integration.xml
Due: test-sync-integration

next.xml/integration.xml: add manifest files
  .gitlab-ci.yml
  integration.xml
  next.xml
Due: test-sync-integration, test-sync-next

default.xml: bump hashes for the July monthly release
  default.xml
Due: test-sync-default

integration.xml: bump external layers to 2020-06-30 latest
  integration.xml
Due: test-sync-integration

integration.xml: bump external hashes to upstream 2020-07-12
  integration.xml
Due: test-sync-integration

integration.xml: bump external layers to 2020-07-15 latest
  integration.xml
Due: test-sync-integration

integration.xml: bump external hashes to upstream 2020-07-27
  integration.xml
Due: test-sync-integration

integration.xml: bump external hashes to upstream 2020-08-01
  integration.xml
Due: test-sync-integration

default.xml: bump hashes for the August monthly release
  default.xml
Due: test-sync-default

default.xml: RT fix for the August monthly release
  default.xml
Due: test-sync-default

default.xml: update ext hashes for the August monthly release
  default.xml
Due: test-sync-default

default.xml: bump hash to rebuild for colibri imx8x b0/c0
  default.xml
Due: test-sync-default

Update README.md
  README.md
Due: none

Add deprecation notice to README.md
  README.md
Due: none
